<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">
    <meta name="csrf-token" content="{{ .csrfToken }}">
    <title>XD</title>

    {{ glue }}
</head>
<body>
<div id="app" v-cloak></div>
</body>
</html>
